<p id="notice"><%= notice %></p>
<div class="container">
  <p>
    <strong>Nome:</strong>
    <%= @cliente.nome %>
  </p>
  <%= render @cliente.dividas %>
  <div class="btn-group">
    <%= link_to 'Back', clientes_path, class: "btn btn-danger" %>
    <%= link_to 'Edit', edit_cliente_path(@cliente), class: "btn btn-primary" %>
  </div>
</div>
